body
{
    text-align: center;
    background-image: url(https://myc01.oss-cn-shanghai.aliyuncs.com/Assest/axis/%E5%B0%81%E9%9D%A2-%E9%80%8F%E6%98%8E.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color:rgba(1,1,0,0.1);
}



#d01
{
    padding-top: 70px; 
}

#h01
{
    font-size: 40px;
}



.text-muted
{
    font-size: 40px;
}

.a-axis
{
    font-size: 35px;
}