.body-index
{
    background-color: #D2E9FF;
}

.background-white
{
    background-color: white;
}

.center
{
    text-align: center;
}

.item{
    height: 410px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
  }

.img_carousel
{
    width: 300px;
    height: 100px;
}

.axis-info
{
    font-size: 50px;
    font-weight: bold;
    text-shadow: #000 3px 0 0, #000 0 3px 0, #000 -3px 0 0, #000 0 -3px 0;
}

.axis-info-button
{
    font-size: 20px;
}

